{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "**/*-test.js",
        "**/*-test.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}